@import url("https://raptor-ui.netlify.app/main.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@font-face {
  font-family: "Jurassic Park";
  src: local("Jurassic Park"),
    url(../public/assets/Fonts/JurassicPark-BL48.ttf) format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

.note-color-1 {
  background-color: var(--info-color);
}

.note-color-2 {
  background-color: var(--success-color);
}

.note-color-3 {
  background-color: var(--danger-color);
}

.note-color-4 {
  background-color: var(--body-bg-color);
}
